{{> navbar-home}}

<div class="jumbotron text-center page-header" id="jumbotron">
    <h3 class="page-header-text">Unsaved Events</h3>
</div>

<div class="container clearfix" id="container">
    <div class="row">
        <div class="col-sm-12" id="event-section">
            {{> events}}    
        </div>
    </div>
</div>

<!-- Scrape Modal -->
<div class="modal fade" id="scrapeModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal body -->
            <div class="modal-body" id="modal-message">
            Scrape Complete!
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn scrapeCloseBtn" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!-- Warning Modal -->
<div class="modal fade" id="warningModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal body -->
            <div class="modal-body" id="modal-message">
                <h2 class="warning">WARNING!</h2>
                <p>Selecting "CLEAR!" will delete all your scraped & saved events, and your notes!</p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="destroy-btn" data-dismiss="modal">CLEAR!</button>
                <button type="button" class="btn scrapeCloseBtn" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!-- Save Event Modal -->
<div class="modal fade" id="saveEventModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal body -->
            <div class="modal-body" id="modal-message">
            Input Recieved!
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn saveEventCloseBtn" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>