* {
    box-sizing: border-box;
}

.event-details-div-img, .event-details-div-body {
    float: left
}

.event-details-div-body {
    margin-left: 20px;
}

.save-btns-div {
    
}

.save-btns {
    float:right;
    margin-left: 10px;
}