* {
    box-sizing: border-box;
}

body {
    background-color: black;
    background-image: url("../imgs/background-full.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    /* background-size: 100% auto;
    background-attachment: scroll; */
    min-height: 100%;
    padding-bottom: 30px;
}

/* NAVBAR */
.navbar {
    min-height: 69px;
}

/* PAGE HEADER */
.page-header {
    margin-top: 69px;
    height: 84px;
    background-color: rgb(105, 105, 105, 0.5);
    color: lightgray;
    width: 100%;
}


/* EVENT DIV */
#event-section {
    padding: 0;
}

.event-card {
    opacity: 0.92;
    margin: 0 auto;
}

.event-details-div-img, .event-details-div-body {
    float: left
}

.event-details-div-img {
    width: fit-content;
}

.event-details-div-body {
    padding-left: 20px;
}

.events-details-div-more-details {
    clear: both;
}

.panel-collapse {
    padding: 1.25rem;
    padding-top: 0;
}

.event-details-img {
    width: 150px;
    height: auto;
}

.event-details-img-saved {
    width: 300px;
    height: auto;
}

.event-details-text-saved {
    font-size: 1.5rem;
}

.btns-right {
    float: right;
    margin-left: 10px;
}